<mat-card id="title">
  <mat-card-title>
    <p>{{title}}</p>
  </mat-card-title>
</mat-card>

<mat-card>
  <mat-form-field  class="mat-card-principal">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="chocolate.nome" placeholder="digite o nome do chocolate">
  </mat-form-field>

  <mat-form-field appearance="fill" class="mat-card-principal">
    <mat-label>Marca</mat-label>
    <input matInput [(ngModel)]="chocolate.marca" placeholder="digite o nome da Marca">
  </mat-form-field>

  <mat-form-field appearance="fill" class="mat-card-principal">
    <mat-label>Preço</mat-label>
    <input matInput [(ngModel)]="chocolate.preco" placeholder="digite o valor">
  </mat-form-field>

  <mat-card-footer>
    <button color="primary" (click)="inserirChocolate()">

      <mat-icon>add</mat-icon>
    </button>
  </mat-card-footer>

</mat-card>


<mat-card *ngFor="let chocolate of chocolates" class="mat-card-simples">
  <mat-card-header >
    <mat-card-title><mat-icon>person</mat-icon>{{chocolate.nome}}</mat-card-title>
    <mat-card-subtitle *ngIf="chocolate.marca">Nome: {{chocolate.marca}} Preco: {{chocolate.preco}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
    chocolate {{chocolate.nome}}, {{chocolate.marca}}, {{chocolate.preco}}
  </mat-card-content>

    <button  color="primary" (click)="editarChocolate(chocolate)">
      <mat-icon>edit</mat-icon>
    </button>
    <button  color="warn" (click)=" removerChocolate(chocolate)">
      <mat-icon>delete</mat-icon>
    </button>
</mat-card>


